[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
matplotlib = "*"
plotly = "*"
kaleido = "*"
fpdf = "*"
jinja2 = "*"
flask = "*"
pdfkit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
